body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
* {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.sevillana-regular {
  font-family: "Sevillana", cursive;
  font-weight: 400;
  font-style: normal;
}

.main {
  overflow-x: hidden;
}
.hero-section {
  height: 100vh;
  background: url("/public/images/fine.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 2.5rem;
}

.section {
  min-height: 100vh;
  padding: 80px 20px;
  background-color: #f8f8f8;
}
.underline {
  position: relative;
  display: inline-block;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 500;
}
.underline::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -6px;
  width: 180%;
  height: 1px;
  background-color: white;
}
.divide {
  overflow: hidden;
  
}
.divide img {
  width: 100vw;
  height: 70vh;
  object-fit: cover;
  transform: translateZ(0);
}
.shopBtn{
  color: white;
  font-style: italic;
}
.shopBtn:hover{
  color: #cfef4f;
}
